<div class="container mt-5 mb-5">

  <h2 class="row">コメント</h2>

  <div class="col mt-5">
    <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |message| %>
      <div class="col text-danger"><%= message %>。</div>
      <% end %>
    <% end %>
  </div>

  <%= form_with model: @comment, url: comments_path(post_id: @comment.post_id), local:true do |f| %>
    <div class="col"><%= f.text_field :comment %></div>
    <div class="col mt-5 text-center"><%= f.submit "投稿する", class:"btn btn-success" %></div>
  <% end %>

</div>