<h2>アバウト</h2>

<p>
  Gamersはゲームの感想を投稿するSNSサイトです。
</p>

<p>
  ただ感想を投稿するだけではなく、ゲームの評価・ランキング機能も備わっているので、<br>
  ゲームをプレイしようか悩んでいる方への判断材料としても利用できます。
</p>

<p>
  また、いいね・コメント・フォロー機能により多くのユーザーと交流することが可能で、<br>
  より一層ゲームを楽しむことが出来るようになると考えています。
</p>
