<h2>HOME</h2>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ゲーム名</th>
      <th>評価</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.name %></td>
        <td class="post-evaluation" data-score="<%= post.evaluation %>"></td>
        <td><%= l post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.post-evaluation').raty({
   readOnly: true,
    score: function() {
    return $(this).attr('data-score');
    },
    path: '/assets/'
    });
</script>